<div class="heading">
  <h3>
    Resume
  </h3>
</div>
<div class="content">
  <div class="btn-group center">
    <%= link_to "Education", "#education", :class=> "btn btn-primary" %>
    <%= link_to "Work Related Experience", "#work-related-experience", :class=> "btn btn-primary" %>
    <%= link_to "Work Experience", "#work-experience", :class=> "btn btn-primary" %>
    <%= link_to "References", "#references", :class=> "btn btn-primary" %>
  </div>
  <br>
  <div class="row">
    <h3 id="education" class="anchor span11 offset1">Education</h3>
  </div>
  <div class="row">
    <div class="span10 pull-right">
      <div class="row">
        <div class="span12">
          <h4>Harrisburg Area Community College</h4>
          <div class="span10 pull-right">
            Children’s Developmental Psychology<br>
            Expected Graduation: May 2014
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <h3 id="work-related-experience" class="anchor span11 offset1">Work Related Experience</h3>
  </div>
  <div class="row">
    <div class="span10 pull-right">
      <div class="row">
        <div class="span12">
          <h4>Nanny</h4>
          <div class="span10 pull-right">
            2010-Present<br>
            Children ages newborn-4 years<br>
            Basic cooking<br>
            Experience with boys and girls<br>
            Experience with children who have developmental delays<br>
            Experience with sign language
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="span12">
          <h4>Dance Experience</h4>
          <div class="span10 pull-right">
            16 years of ballet<br>
            14 years of tap<br>
            13 years of hard shoe Irish<br>
            13 years of soft shoe Irish<br>
            11 years of jazz<br>
            7 years of pointe<br>
            6 years of hip hop<br>
            5 years of gymnastics<br>
            1 year of acrobatics
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="span12">
          <h4>Volunteer at the Lehman Caring Center</h4>
          <div class="span10 pull-right">
            Cared for children ages newborn-6<br>
            Played with children<br>
            Fed children<br>
            Put children to sleep<br>
            Helped with food preparation<br>
            Helped organize games and activities
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <h3 id="work-experience" class="anchor span11 offset1">Work Experience</h3>
  </div>
  <div class="row">
    <div class="span10 pull-right">
      <div class="row">
        <div class="span12">
          <h4>B*Dazzled Dance Studios</h4>
          <div class="span10 pull-right">
            January 2009- Present<br>
            Dance instructor for children ages 3-16<br>
            Taught Irish for 5 years<br>
            Taught ballet for 4 years<br>
            Taught tap for 4 years<br>
            Taught babies class for 4 years<br>
            Experience handling parental concerns<br>
            Experience making lesson plans<br>
            Experience with computers<br>
            Experience controlling children
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="span12">
          <h4>Tumble Town</h4>
          <div class="span10 pull-right">
            April 2013- Present<br>
            Watch and monitor children ages 2-12<br>
            Experience handling money<br>
            Customer service<br>
            Experience with misbehaving children
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <h3 id="references" class="anchor span11 offset1">References</h3>
  </div>
  <div class="row">
    <div class="span10 pull-right">
      <div class="row">
        <div class="span12">
          <div class="span10 pull-right">
            Feel free to <%= link_to "contact me", contact_pages_path %> for references.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
