<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body>
    <%= render "layouts/header" %>
    <div class="row-fluid">
      <div class="span6 offset3">
        <div class="<%= action_name %>">
          <%= yield %>
        </div>
        <%= render "layouts/footer" %>
      </div>
    </div>
  </body>
</html>
